    <% for (book of data) { %>
        
<tr>
    <td><%= book.title %></td>
        <td><button type="submit" class="blue-button" onclick="location.href='./update-book/<%= book._id %>'">Edit</button></td>
        <!-- <td><button type="submit"><a class="blue-button" href="./update-book/<%= book._id %>">Edit</a></button></td> -->
        <!-- <td><input type="button" class="blue-button" value="EDIT" onclick="location.href='books/:_id'"></td> -->

    <form action="/books/<%= book._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
        <td><button type="submit" class="yellow-button">Delete</button></td>
    </form>
</tr>
<% } %>