    <% for (book of data) { %>
        
<tr>

    <td><%= book.title %></td>
    <td><input type="button" class="blue-button" value="EDIT" onclick="location.href='admin'"></td>
    <td><input type="button" class="yellow-button" value="DELETE"></td>
    
</tr>
<% } %>