    <% for (book of data) { %>
        
<tr>
    <td><%= book.title %></td>
    <td>
        <a href="/admin-console/update-book/<%= book._id %>">
            <button class="blue-button">Edit</button>
        </a>
    </td>

    <form action="/books/<%= book._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
        <td><button type="submit" class="yellow-button">Delete</button></td>
    </form>
</tr>
<% } %>