<nav class="navbar">
    <a class="navbar-logo" href="/">
        <img class="header-logo" src="/images/CodeSquad-Comics-logo.png" alt="CodeSquad Comics logo">
    </a>

    <ul class="navlinks">
        <li><a class="nav-link" href="/">HOME</a></li>
        <li><a class="nav-link" href="/about">ABOUT</a></li>
        <li><a class="nav-link" href="/login">LOGIN</a></li>
    </ul>
    <i class="fa fa-bars"></i>
</nav>