<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="main-container admin-container">
        <section class="admin-container-top">
            <h1 class="admin-container-title">ADMIN PAGE</h1>
            <div class="admin-top-button">
                <input onclick="location.href='admin-console/create-book'" type="button" class="new-comic yellow-button" value="ADD NEW COMIC">
            </div>
        </section>
        <br>
        <div class="admin-table-container">
        <table class="admin-table">
            <thead class="admin-table-head">
                <tr class="table-head">
                    <th>COMIC TITLE</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody class="admin-table-body">
                <%- include('../partials/book-listing') -%> 

            </tbody>
        </table>
        </div>
    
<%- include('../partials/footer') -%>