<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="hunter-hunter">
            <div class="top-half">
                <!-- <div class="title"><span>HUNTER X HUNTER VOL. 1</span>
                    </div> -->
                <h1 class="hunter-title">Hunter X Hunter VOL. 1</h1>    
                
                <img class="gon-cover" src="/images/hunter-x-hunter.jpg" alt="gon on the cover of hunter X hunter volume one">
            </div>

            <div class="bottom-half">
                <p class="hunter-data"><span class="bold-underline">Title:</span>
                    <span class="italics">Hunter X Hunter Vol. 1</span>
                </p>
                <p class="hunter-data"><span class="bold-underline">Author:</span>
                    Yoshihiro Togashi
                </p>
                <p class="hunter-data"><span class="bold-underline">Publisher:</span>
                    VIZ Media LLC
                </p>
                <p class="hunter-data"><span class="bold-underline">Genre:</span>
                    manga
                </p>
                <p class="hunter-data"><span class="bold-underline">Number of pages:</span>
                    184
                </p>
                <p class="hunter-data"><span class="bold-underline">Rating:</span>
                    5
                </p>
                <p class="hunter-data"><span class="bold-underline">Synopsis:</span>
                    Hunters are a special breed, dedicated to tracking down treasures, magical beasts, and even other people. But such pursuits require a license, and less than one in a hundred thousand can pass the grueling qualification exam. Those who do pass gain access to restricted areas, amazing stores of information, and the right to call themselves Hunters.
                </p>
                <p>
                    Gon might be a country boy, but he has high aspirations. Despite his Aunt Mito's protests, Gon decides to follow in his father's footsteps and become a legendary Hunter. The Hunter hopefuls begin their journey by storm-tossed ship, where Gon meets Leorio and Kurapika, the only other applicants who aren't devastated by bouts of seasickness.
                </p>
                <p>
                    Having survived the terrors of the high seas, Gon and his companions now have to prove their worth in a variety of tests in order to find the elusive Exam Hall. And once they get there, will they ever leave alive...?
                </p>
            </div>

        </div>

<%- include('../partials/footer') -%>