<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="main-container create-body">
        <h1 class="create-body-title">CREATE NEW COMIC</h1>
        <form class="form create-form" action="/books" method="POST">
            <br>
            <label for="edit-image">Comic Book Coverpage</label>
            <input type="text" id="edit-image" class="temp-img"></input>
            <ul>
                <li class="form-list">
                    <label for="title" class="label">Title:</label>
                    <input type="text" class="input" id="title" name="title" placeholder="Title">
                </li>
            <br>
                <li class="form-list">
                    <label for="author" class="label">Author:</label>
                    <input type="text" class="input" id="author" name="author" placeholder="Author">
                </li>
            <br>
                <li class="form-list">
                    <label for="publisher" class="label">Publisher:</label>
                    <select id="publisher" class="select" name="publisher">
                        <option value="select">Select</option>
                        <option value="boomBox">BOOM! Box</option>
                        <option value="dcComics">DC Comics</option>
                        <option value="HarryN.Abrams">Harry N. Abrams</option>
                        <option value="iconBooks">Icon Books</option>
                        <option value="imageComics">Image Comics</option>
                        <option value="marvel">Marvel</option>
                        <option value="simonSchuster">Simon & Schuster</option>
                        <option value="topShelfProductions">Top Shelf Productions</option>
                        <option value="vizMediaLlc">VIZ Media LLC</option>
                    </select>
                </li>
            <br>
                <li class="form-list">
                    <label for="genre" class="label">Genre:</label>
                    <input type="text" class="input" id="genre" name="genre" placeholder="Genre">
                </li>
            <br>
                <li class="form-list">
                    <label for="pages" class="label">Number of pages:</label>
                    <input type="text" class="input" id="pages" name="pages" placeholder="Number of pages">
                </li>
            <br>
                <li class="form-list">
                    <label for="rating" class="label">Rating:</label>
                    <input type="number" class="input" id="rating" name="rating" min="0" max="100" placeholder="number (0-5)">
                </li>
            <br>
                <li class="form-list textarea">
                    <label for="synopsis" class="label">Synopsis:</label>
                    <textarea id="synopsis" class="synopsis" name="synopsis" placeholder="Synopsis"></textarea>
                </li>
            <br>
                <li class="submit-button">
                    <button type="submit">Submit</button>
                </li>
            </ul>
        </form>
        </div>

<%- include('../partials/footer') -%>