<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

        <div class="main-container login-container">
            <h1 class="login-container-title">LOGIN</h1>
            <form action="#" class="form login-form">
                <ul>
                <li class="form-list">
                <label class="label" for="email">Email address:</label>
                <input class="input" type="email" id="email" name="email" placeholder="Email" required>
                </li>
                <br>
                <li class="form-list">
                <label class="label" for="password">Password:</label>
                <input class="input" type="password" id="password" name="password" placeholder="Password" minlength="10" required>
                </li>
                <br>
                <div class="login-submit-button">
                <input type="submit" class="yellow-button login-submit">
            </div>
            </ul>
            </form>
        </div>

<%- include('../partials/footer') -%>