<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

<div class="main-container login-container">
    <h1 class="login-container-title">REGISTER</h1>
            
    <form action="/register" method="POST" class="form login-form">
        <ul>
            <li class="form-list">
                <label class="label" for="username">Email address:</label>
                <input class="input" type="text" id="username" name="username" placeholder="Username" required>
            </li>
            <br>
            <li class="form-list">
                <label class="label" for="password">Password:</label>
                <input class="input" type="password" id="password" name="password" placeholder="Password" minlength="10" required>
            </li>
            <br>
            <button type="submit" class="yellow-button login-submit">Register</button>
            <%- include('../partials/google-auth') -%>
        </ul>
    </form>
</div>

<%- include('../partials/footer') -%>